$font-weight: 700;
$margin-bottom: 5px;
$margin-right: 10px;
$margin-left: 10px;
$color: #333;
$max-width: 100%;
$min-width: 143px;
$padding: 0;

.notifications {
    display: inline-block;
    max-width: $max-width;
    margin-bottom: $margin-bottom;
    font-weight: $font-weight;
}

.dropdown-menu {
    min-width: $min-width !important;
}

.no-underline {
    color: $color !important;
    padding: $padding !important;
}

.no-underline:hover {
    text-decoration: none;
}

.fc-left {
    margin-left: $margin-left;
}

.fc-right {
    margin-right: $margin-right;
}
